<html>
    <body>
        <h1>Predicting Credit Card Default</h1>
        <form action="/" method="post">
            <p>Please enter your income</p>
            <p><input type="number" name="income"></p>
            <p>Please enter your age</p>
            <p><input type="number" name="age"></p>
            <p>Please enter your loan amount</p>
            <p><input type="number" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>CART: {{result1}}</p>
        <p>Random Forest: {{result2}}</p>
        <p>XGBoost: {{result3}}</p>
    </body>
</html>
